body
{
	background-image: url("img/wallet.png");
	color:darkgreen;
	font-size:25px;
	font-family: 'Lato', sans-serif;
	text-align:center;
	margin-top:100px;
}

#container
{
	width:300px;
	padding:50px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	background-color:white;
	border-radius:25px;
	border-color:black;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
	box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
}

#container1
{
	width:300px;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	margin-top:60px;
	background-color:white;
	border-radius:25px;
	border-color:black;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
	box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
	
}

#container2
{
	width:900px;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	margin-top:60px;
	background-color:white;
	border-radius:25px;
	
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
	box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
	
}
#balane-menu,
input[type=date],
input[type=name],
input[type=email],
input[type=password],
input[type=value],
input[type=date]
{
	width:300px;
	background-color:white;
	color:#666;
	border:2px solid #ddd;
	border-radius:20px;
	font-size:20px;
	padding:10px;
	box-sizing:border-box;
	outline:none;
	margin-top:20px;
	
}

input[type=value1]
{
	width:300px;
	background-color:white;
	color:#666;
	border:2px solid #ddd;
	border-radius:20px;
	font-size:20px;
	padding:10px;
	box-sizing:border-box;
	outline:none;
	margin-top:20px;
	
}

input[type=comment]
{
	width:300px;
	background-color:white;
	color:#666;
	border:2px solid #ddd;
	border-radius:20px;
	font-size:20px;
	padding:10px;
	box-sizing:border-box;
	outline:none;
	margin-top:20px;
	
}

#balane-menu:focus,
input[type=name]:focus,
input[type=value]:focus,
input[type=value1]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=comment]:focus

{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
	box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	
}

input[type=submit]
{
	width:300px;
	background-color:#36b03c;
	font-size:20px;
	color:white;
	padding:30px, 10px;
	margin-top: 10px;
	border:none;
	border-radius: 5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	margin-top:20px;
}

input[type=submit]:hover
{
	background-color:#37b93c;	
}
h3
{
	margin-top:10px;
	margin-bottom:10px;
	color:black;
}
h5 
{
	text-align:left;
	margin-bottom:10px;
	margin-top:10px;
	color:black;
}
h6
{
	color:black;
}
#comment
{
	width:200px;
	min-height:150px;
}

input[type=submit1]
{
	float:left;
	width:130px;
	padding:5px;
	margin-right:10px;
	background-color:#61b03c;
	font-size:20px;
	color:white;
	border:black;
	border-radius: 5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	margin-top:20px;
	text-align:center;
}
input[type=submit1]:hover
{
	float:left;
	width:130px;
	padding:5px;
	margin-right:10px;
	background-color:#50a02b;
	font-size:20px;
	color:white;
	border:black;
	border-radius: 5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	margin-top:20px;
	text-align:center;
}

#balane-menu
{	
padding:10px;
width:300px;	
}

.incomes
{
	float:left;
	width:45%;
	padding:10px;
	margin-top:20px;
}
.incomeDisplay
{
	width:400px;
	background-color:white;
	color:#666;
	border:2px solid #ddd;
	border-radius:20px;
	font-size:20px;
	padding:50px;
	box-sizing:border-box;
	outline:none;
	margin-top:20px;
	
}
.incomeDisplay:hover
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
	box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	
}




